html
  head
    title Plants List
    link(rel='stylesheet', href='/styles.css')  // Correct syntax, self-closing tag
  body
    h1 Plants List
    each plant in plants
      .plant
        .plant-name
          a(href='/plants/detail/' + plant._id)= plant.plant_name
        .plant-type= "Type: " + plant.plant_type
        .plant-age= "Age: " + plant.plant_age + " years"
