

extends layout.pug

block content
  h1 Plant Details
  p Plant Name: #{plant.plant_name}
  p Plant Type: #{plant.plant_type}
  p Plant Age: #{plant.plant_age} years
  a(href='/plants') Back to plants list
