extends layout

block content
  h1= title
  each plant in plants
    .plant
      h3
        a(href='/plants/detail?id=' + plant._id) #{plant.plant_name}
      p Type: #{plant.plant_type}
      p Age: #{plant.plant_age} years
