html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')  // Link to your CSS file

  body
    h1= plant.plant_name  // Display the plant's name as a heading
    p Type: #{plant.plant_type}  // Display plant type
    p Age: #{plant.plant_age} years  // Display plant age
    a(href='/plants') Back to Plants List  // Link back to the list of plants
