html
  head
    title Plant Detail
    link(rel='stylesheet', href='/styles.css')  

  body
    h1= toShow.plant_name
    p Type: #{toShow.plant_type}
    p Age: #{toShow.plant_age} years
    a(href='/plants') Back to Plants List
