extends layout
 
block content
  h1= title
  form(id='PotionForm', action="/resource/potions", method="POST")
    div.form-group
      label.potionAttr(for='name') Name
      input#name(type='text', name='name', class='form-control', required)    
    div.form-group
      label.potionAttr(for='effect') Effect
      input#effect(type='text', name='effect', class='form-control', required)
    div.form-group
      label.potionAttr(for='potency') Potency
      input#potency(type='number', name='potency', class='form-control', required)
    button(type='submit', class='btn btn-primary mt-3') Create Potion
 
  script.
    document.forms['PotionForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      alert("Submitting form...");
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        if (!resp.ok) throw new Error(resp.statusText);
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
        console.log("Server response:", body);
      }).catch((error) => {
        alert("Save failed: " + error);
      });
    });